* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #0d1622; 
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
}



.conteudo-principal {
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 60px auto; 
    padding: 0 20px;
    gap: 40px;
}

.lado-esquerdo {
    flex: 2;
}

.topo-carrinho {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.icone-carrinho {
    width: 100px; 
    height: auto;
}

.texto-topo h1 {
    font-size: 32px;
    letter-spacing: 1px;
}

.destaque-vermelho {
    color: #ff4655;
}

.texto-topo p {
    color: #8f9ca8;
    margin-top: 5px;
    font-size: 15px;
}

.lista-de-skins {
    background-color: #182332; 
    border-radius: 4px;
    min-height: 220px; 
    margin-bottom: 30px;
    padding: 20px;
}

.botao-voltar {
    background-color: #182332;
    color: #ff4655;
    border: none;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.2s;
}

.botao-voltar:hover {
    background-color: #1f2e42;
}


.lado-direito {
    flex: 1;
}

.caixa-resumo {
    background-color: #182332; 
    padding: 35px 30px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.caixa-resumo h2 {
    font-size: 18px;
    letter-spacing: 1px;
}

.quantidade-itens {
    color: #ff4655;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.linha-divisoria {
    border: 0;
    height: 1px;
    background: #2a3847;
    margin: 25px 0;
}

.linha-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 35px;
}

.preco-total {
    color: #ff4655;
    font-size: 22px;
}

.botao-finalizar {
    width: 100%;
    background-color: #ff4655;
    color: white;
    border: none;
    padding: 18px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    transition: 0.2s;
}

.botao-finalizar:hover {
    background-color: #e23b48;
}

.texto-seguro {
    text-align: center;
    color: #6c7986;
    font-size: 12px;
    margin-top: 15px;
}

/* FOOTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/ 


.rodape-geral {
  background-color: #111827;
  border-top: 1px solid #ffffff33; 
  padding: 40px 0px; 
  font-family: sans-serif;
  background-color: #0b141d;
  border-top: 1px solid #ffffff33;
  padding: 40px 0px;
  font-family: sans-serif;
  width: 100%; 
  box-sizing: border-box;
  margin-top: auto;
  width: 100%; 
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #060c12; 
}


.caixa-mae {
  max-width: 1200px; 
  margin: 0 auto;    
  padding: 0 40px;   
  
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  gap: 20px;
}


.bloquinho {
  display: flex;
  flex-direction: column;
  min-width: 160px;
}


.logo-fake {
  color: #ff4655; 
  font-weight: bold;
  font-size: 24px;
}


.titulo-gordinho {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: 1px;
}


.link-clicavel {
  color: #9aa4af;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.link-clicavel:hover {
  color: #ffffff;
}


.caixa-das-fotos {
  display: flex;
  gap: 15px;
  align-items: center;
}


.foto-pagamento {
  height: 30px;
  width: auto;
}