@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0b0f1a;
    color:white;
    font-family:'Poppins', sans-serif;
}

.sobre{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 10%;
    gap:50px;
}

.conteudo{
    max-width:550px;
}

.tag{
    color:#ff4655;
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
}

h1{
    font-family:'Anton', sans-serif;
    font-size:5rem;
    line-height:0.95;
    margin:20px 0;
}

h1 span{
    color:#ff4655;
}

p{
    color:#cfcfcf;
    font-size:18px;
    line-height:1.8;
    margin-bottom:15px;
}

strong{
    color:#ff4655;
}

.imagem{
    flex:1;
    display:flex;
    justify-content:center;
}


/* Responsivo */
@media(max-width:900px){

    .sobre{
        flex-direction:column;
        text-align:center;
    }

    h1{
        font-size:3.5rem;
    }

    .imagem img{
        max-width:300px;
    }
}

/* FOOTER */
.rodape {
    background-color: #111a23; 
    padding: 50px 80px;
    border-top: 1px solid #ffffff0a;
  }
  
  
  .conteudo-rodape {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 120px; 
  }
  
  
  .rodape-logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .logo-img {
    height: 32px;
  }
  
  .logo-texto {
    color: #ffffff;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 1px;
  }
  
  
  .rodape-coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rodape-coluna h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 5px 0;
    letter-spacing: 0.5px;
  }
  
  .rodape-coluna a {
    color: #9aa4af;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    transition: color 0.2s;
  }
  
  .rodape-coluna a:hover {
    color: #fff; 
  }
  
  