:root{
    --cor-primaria: #111827;
    --cor-segundaria: #FF4655;
    --cor-terciaria: #ffffff;

}

body{
    background-color: #111827;
    color: #ffffff;
}


.logoSITE{
    width: 71px;
}

.tituloS{
    position: relative;
    top: -75px;
    left: 75px;
}

.menu{
    position: relative;
    top: -115px;
    left: 900px;
}

.User{
    position: absolute;
    top: 30px;
    right: 500px;
}

.linha1{
    margin-top: -75px;
}

.textoSkins, .textoEncontre{
    padding: 10px;
}

.textoEncontre{
    margin-top: -25px;
}

.botaoVer{
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 12px;
    background-color: var(--cor-segundaria)

}

.imgJet{
    display: block;
    margin-left: auto;
    margin-top: -165px;
    margin-right: 80px;
}

.linha2{
    margin-top: 2px;
  
}

.skinsDisponiveis{
    text-align: center;
}

.titulo_destaque, .titulo__destaque{
    color: var(--cor-segundaria)
}

.inicio, .skins, .sobre{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.skinsLoja{
    display: flex;
    gap: 100px;
    justify-content: center;
}
